Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [1]:
!wget https://github.com/Adwait01-Bhosale/RoboSpark/blob/master/ecommerce.csv?raw=true

--2021-10-09 02:30:34--  https://github.com/Adwait01-Bhosale/RoboSpark/blob/master/ecommerce.csv?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Adwait01-Bhosale/RoboSpark/raw/master/ecommerce.csv [following]
--2021-10-09 02:30:35--  https://github.com/Adwait01-Bhosale/RoboSpark/raw/master/ecommerce.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Adwait01-Bhosale/RoboSpark/master/ecommerce.csv [following]
--2021-10-09 02:30:35--  https://raw.githubusercontent.com/Adwait01-Bhosale/RoboSpark/master/ecommerce.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2745851 (2.6M) [text/plain]
Saving to: ‘ecommerce.csv?raw=true’

ecommerce.csv?raw=t 100%[===================>]   2.62M  --.-KB/s    in 0.05s

2021-10-09 02:30:35 (55.7 MB/s) - ‘ecommerce.csv?raw=true’ saved [2745851/2745851]

In [ ]:
import pandas as pd
data=pd.read_csv("/content/ecommerce.csv?raw=true")

**Check the head of the DataFrame.**

In [6]:
data.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

** How many rows and columns are there? **

In [7]:
data.shape

(10000, 14)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [9]:
import numpy as np
np.mean(data['Purchase Price'])

50.34730200000025

** What were the highest and lowest purchase prices? **

In [10]:
np.max(data['Purchase Price'])

99.99

In [11]:
np.min(data['Purchase Price'])

0.0

** How many people have the job title of "Lawyer" ? **

In [17]:
np.sum(data['Job']=='Lawyer')

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [18]:
np.sum(data['AM or PM']=='AM'),np.sum(data['AM or PM']=='PM')

(4932, 5068)

** What are the 5 most common Job Titles? **

In [21]:
data['Job'].value_counts()[:5].sort_values(ascending=False)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [22]:
data[data['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [23]:
data[data['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [24]:
len(data[(data['CC Provider']=='American Express')&(data["Purchase Price"]>95)].index)

39

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
len(data)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [25]:
len(data[data['CC Exp Date'].apply(lambda exp:exp[3:]=='25')].index)

1033

# Great Job!