Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [1]:
import pandas
df = pandas.read_csv('ecommerce.csv')

**Check the head of the DataFrame.**

In [41]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,JobCount
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,19
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,21
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,18
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,21
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,13

** How many rows and columns are there? **

In [40]:
df.shape[0], df.shape[1]

(10000, 15)

** What is the average Purchase Price? **

In [39]:
df["Purchase Price"].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [38]:
df["Purchase Price"].max(), df["Purchase Price"].min()

(99.99, 0.0)

** How many people have the job title of "Lawyer" ? **

In [37]:
df[(df["Job"] == "Lawyer")].shape[0]

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [36]:
df[df["AM or PM"] == "AM"].shape[0], df[df["AM or PM"] == "PM"].shape[0]

(4932, 5068)

** What are the 5 most common Job Titles? **

In [43]:
df.value_counts('Job').head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [53]:
df.where(df["Lot"] == "90 WT").dropna().iloc[0]["Purchase Price"]

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [58]:
df.where(df["Credit Card"] == 4926535242672853).dropna().iloc[0]["Email"]

'bondellen@williams-garza.com'

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [65]:
df.where((df["CC Provider"] == "American Express") & (df["Purchase Price"] > 95)).dropna().shape[0]

39

** Hard: How many people have a credit card that expires in 2025? **

In [85]:
df.where(df["CC Exp Date"].str.contains("/25")).dropna().shape[0]

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [93]:
df['Email Host'] = df['Email'].str.split('@').str[1]
df.value_counts("Email Host").head()

Email Host
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

# Great Job!