In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd       # dataframe operations 
import numpy as np

In [9]:
path = '/content/drive/My Drive/ecommerce.csv'
df = pd.read_csv(path)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['Purchase Price'].mean()

In [ ]:
df['Purchase Price'].max()

In [ ]:
df['Purchase Price'].min()

In [ ]:
arr=df['Job']
k=0
for i in arr:
  if i=='Lawyer':
    k=k+1

k

In [ ]:
df['AM or PM'].value_counts(dropna=False)

In [ ]:
df['Job'].value_counts(dropna=False)[0:5]

In [ ]:
df[df['Lot']=="90 WT"]['Purchase Price']

In [ ]:
df[df['Credit Card']==4926535242672853]['Email']

In [ ]:
df[(df["CC Provider"]=="American Express") & (df["Purchase Price"]>95)].count()

In [ ]:
arr1=df['CC Exp Date']
arr2=[]
for i in arr1:
  arr2.extend(i.split("/"))

num=arr2.count('25')
num

In [18]:
arr3=df['Email']
tempArr=[]
finalArr=[]
for i in arr3:
  tempArr=i.split("@")
  finalArr.append(tempArr[1])

arr=[]
for i in finalArr:
  if i not in arr:
    arr.append(i)

Dict={}
l=[]
for i in arr:
  a=finalArr.count(i)
  Dict[i]=a

finalDict={}
for k,v in Dict.items():
  finalDict[v]=k

sorted(finalDict)
finalDict

{1: 'wade-garner.com',
 2: 'wilkins.com',
 3: 'bryant.com',
 4: 'oliver.com',
 5: 'miller.biz',
 6: 'grant.com',
 7: 'carlson.com',
 8: 'gonzales.com',
 9: 'young.com',
 10: 'hernandez.com',
 11: 'walker.com',
 12: 'taylor.com',
 13: 'hill.com',
 14: 'thomas.com',
 15: 'martin.com',
 19: 'martinez.com',
 25: 'jones.com',
 29: 'johnson.com',
 37: 'williams.com',
 42: 'smith.com',
 1605: 'gmail.com',
 1616: 'yahoo.com',
 1638: 'hotmail.com'}