Download the dataset from [here](https://drive.google.com/file/d/1dVbihPJFSh6sqUkOZBQHyTFZBHPowLPc/view?usp=sharing)

In [1]:
import pandas as pd       # dataframe operations 
import numpy as np        # numeric operations

In [2]:
path = '/content/ecommerce.csv'  # path of the dataset 

df = pd.read_csv(path)  # reads data and stores as dataframe

In [13]:
df.shape

(10000, 14)

**Check the head of the DataFrame.**

In [3]:
df.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                 Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3            7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82

[5 rows x 14 columns]

** How many rows and columns are there? **

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [14]:
sum=df['Purchase Price'].sum()     
sum
sum/10000

50.347302

** What were the highest and lowest purchase prices? **

In [16]:
high=df['Purchase Price'].max()
high

99.99

In [18]:
low=df['Purchase Price'].min()
low

0.0

** How many people have the job title of "Lawyer" ? **

In [22]:
j=df['Job']
count=0
for i in j:
  if i=="Lawyer":
    count=count+1
print(count)

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [24]:
j=df['AM or PM']
count=0
for i in j:
  if i=="PM":
    count=count+1
print("PM: ",count)
j=df['AM or PM']
count=0
for i in j:
  if i=="AM":
    count=count+1
print("AM: ",count)

PM:  5068
AM:  4932

** What are the 5 most common Job Titles? **

In [36]:
df['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [37]:
df[df['Lot']=='90 WT']['Purchase Price'] #have to undersatnd

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [38]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [51]:
len(df[(df['CC Provider']=='American Express')&(df['Purchase Price']>95)]) #how to put conditions and apply?

39

** Hard: How many people have a credit card that expires in 2025? **

In [77]:
def expires_in_2025(exp_date):
    
    if exp_date.split('/')[1]=='25':
      return 1
    else:
      return 0    
df['CC Exp Date'].apply(expires_in_2025).sum()

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [41]:
df['Email'].apply(lambda x : x.split('@')[-1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [73]:
a=df['CC Exp Date'].apply(lambda x : x.split('/')[1]=='25').value_counts()
a.loc[True]

1033

# Great Job!