In [ ]:
#Importing the dataset :-
import pandas as pd
df=pd.read_csv('ecommerce.csv')

### **1.Display the dataset**

In [ ]:
df

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1     9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                    Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3               7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82
...                                                 ...  ...            ...
9995    966 Castaneda Locks\r\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\r\nNorth Edwardburgh,...  ...          25.63
9997            Unit 4434 Box 6343\r\nDPO AE 28026-0283  ...          83.98
9998             0096 English Rest\r\nRoystad, IA 12457  ...          38.84
9999   40674 Barrett Stravenue\r\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

### **2. Checking head and tail of dataframe**

In [ ]:
df.head()  # Displaying first 5 records of dataset

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...  ...          98.14
1  9374 Jasmine Spurs Suite 508\r\nSouth John, TN...  ...          70.73
2                 Unit 0065 Box 5052\r\nDPO AP 27450  ...           0.95
3            7780 Julia Fords\r\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...  ...          77.82

[5 rows x 14 columns]

In [ ]:
df.tail()  # Displaying last 5 records of dataset

### **3. Size of Dataset**

In [ ]:
df.shape

(10000, 14)

### **4. What is the average of Purchase price column ?**

In [ ]:
df['Purchase Price'].mean()

50.34730200000025

### **5. What were the highest and lowest purchase prices ?**

In [ ]:
df['Purchase Price'].max(),df['Purchase Price'].min()

(99.99, 0.0)

### **6.How many people have th ejob title of Drilling engineer ?**

In [ ]:
df[(df['Job'] == 'Drilling engineer')].shape[0]

21

### **7. How many of them having purchase price greater then 50**

In [ ]:
df[(df['Purchase Price'] > 50)].shape[0]

5052

### **8. How many people made the purchase during the AM and how many during PM ?**

In [ ]:
df[(df['AM or PM']=='AM')].shape[0],df[(df['AM or PM']=='PM')].shape[0]

(4932, 5068)

### **9. What are the 5 most common job Titles ?**

In [ ]:
df.value_counts('Job').head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
dtype: int64

### **10. Checking the purchace for for particular LOT**

In [ ]:
df.where(df['Lot']=='36 vm').dropna().iloc[0]['Purchase Price']

78.04

### **11. What is the email of the person for particular credit num ?**

In [ ]:
Num=input("Enter the Number :-")
df.where(df['Credit Card'] == 3337758169645356).dropna().iloc[0]['Email']

Enter the Number :-3337758169645356

'anthony41@reed.com'

In [ ]:
df['Email Host']=df['Email'].str.split('@').str[1]
df.value_counts("Email Host").head()

Email Host
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

In [ ]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000